%tr
  %td
    = category.id
  %td
    = link_to category.name, [:adminka, category]
  %td
    = category.properties.map(&:title)
  %td.actions
    = render 'adminka/shared/actions', object: category

