// Place all the styles related to the moderate/dreamers controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/


.navbar {
  min-height: 0;
}

body {
  padding-top: 70px;
}

button a {
  color: white;
}

.btn-group-vertical {
  padding: 3px;
}

td.actions {
  padding: 0 !important;
  width: 280px;
}

.properties th.title {
  width: 280px;
}
