#filter{
  > li{
    padding-right: 12px;
    padding-left: 12px;
    border-right: 1px solid $navbar-inverse-bg;
    a{
      font-size: 1.3em;
    }
    > .placeholder {
      position: absolute;
      bottom: -30px;
    }
  }
  > li.before-active{
    border-right: none;
  }
  > li.active{
    border: 1px solid $navbar-inverse-bg;
    border-radius: 3px;
    a{
        //border-bottom: 1px dashed;
        &:focus, &:hover{
          text-decoration: none;
        }
    }
  }

  .back-button{
    position: relative;
    left: -7px;
    top: 2px;
    border-right: 1px solid $navbar-inverse-bg;
    padding-top: 2px;
  }
  .sub-filter{
    display: none;
    &.select{
      position: relative;
      top: -3px;
    }
    .select2-search{
      display: block;
    }
    color: $navbar-inverse-bg;
    border: none;
  }

}
.select2-container{
  input.select2-search__field{
    margin-top: 3px !important;
  }
  span.select2-selection{
    //height: 27px;
    min-height: 27px ;
  }
  min-height: 27px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  margin-right: 5px !important;
  margin-top: 2px !important;
}
.range-input{
  display: inline;
}
